fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic[email]
python-jose[cryptography]
passlib[argon2]
argon2-cffi
python-multipart
python-dotenv
langgraph
langchain-google-genai
langchain-core
pydantic-settings
celery
redis

